<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PoliziaMunicipale</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InserisciDatiAutoServlet</display-name>
    <servlet-name>InserisciDatiAutoServlet</servlet-name>
    <servlet-class>it.presentation.InserisciDatiAutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserisciDatiAutoServlet</servlet-name>
    <url-pattern>/inserisci-dati-auto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserisciDatiInfrazioeServlet</display-name>
    <servlet-name>InserisciDatiInfrazioeServlet</servlet-name>
    <servlet-class>it.presentation.InserisciDatiInfrazioeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserisciDatiInfrazioeServlet</servlet-name>
    <url-pattern>/inserisci-dati-infrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizzaTutteLeAuto</display-name>
    <servlet-name>VisualizzaTutteLeAuto</servlet-name>
    <servlet-class>it.presentation.VisualizzaTutteLeAuto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaTutteLeAuto</servlet-name>
    <url-pattern>/visualizza-tutte-le-auto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CercaAutoTargaServlet</display-name>
    <servlet-name>CercaAutoTargaServlet</servlet-name>
    <servlet-class>it.presentation.CercaAutoTargaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaAutoTargaServlet</servlet-name>
    <url-pattern>/cerca-auto-targa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizzaDatiInfrazioniAutoDaTarga</display-name>
    <servlet-name>VisualizzaDatiInfrazioniAutoDaTarga</servlet-name>
    <servlet-class>it.presentation.VisualizzaDatiInfrazioniAutoDaTarga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaDatiInfrazioniAutoDaTarga</servlet-name>
    <url-pattern>/visualizza-dati-infrazioni-auto-da-targa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaInfrazione</display-name>
    <servlet-name>EliminaInfrazione</servlet-name>
    <servlet-class>it.presentation.EliminaInfrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaInfrazione</servlet-name>
    <url-pattern>/elimina-infrazione</url-pattern>
  </servlet-mapping>
</web-app>